<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DecisionHub</title>
    <link rel="stylesheet" href="../static/css/styles.min.css" />
    <link rel="stylesheet" href="../static/css/cleanstyles/dashboard_clean.css">
</head>

<body>
    <!--  Body Wrapper -->
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full" data-sidebar-position="fixed" data-header-position="fixed">
        <!-- Sidebar Start -->
        <aside class="left-sidebar" style="background-color:#00684a; border: none; box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.7);">
            <!-- Sidebar scroll-->
            <div>
                <div class="brand-logo d-flex align-items-center justify-content-between">
                    <a href="{{url_for('index')}}" class="text-nowrap logo-img">
                        <img src="../static/images/dhub_alt.png" width="180" alt="" />
                    </a>
                    <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
                        <i class="ti ti-x fs-8"></i>
                    </div>
                </div>
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav " style="padding-left:20px ;" data-simplebar="">
                    <ul id="sidebarnav">
                        <li class="nav-small-cap">
                            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                            <span class="hide-menu" style="color: white;">Home</span>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="{{url_for('dashboard')}}" aria-expanded="false">
                                <span>
                                    <i class="fa-solid fa-desktop" style="color: white;"></i>
                                </span>
                                <span class="hide-menu" style="color: white;">Dashboard</span>
                            </a>
                        </li>
                        <li class="nav-small-cap">
                            <i class="ti ti-dots nav-small-cap-icon fs-4" style="color: white;"></i>
                            <span class="hide-menu" style="color: white;">Services | tools</span>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="{{url_for('texttoquery')}}" aria-expanded="false">
                                <span>
                                    <i class="fa-solid fa-laptop-code" style="color: white;"></i>
                                </span>
                                <span class="hide-menu" style="color: white;">Text to Query</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="{{url_for('texttoexcel')}}" aria-expanded="false">
                                <span>
                                    <i class="fa-solid fa-file-excel" style="color: white;"></i>
                                </span>
                                <span class="hide-menu" style="color: white;">Text to Excel</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="{{url_for('querybuilder')}}" aria-expanded="false">
                                <span>
                                    <i class="fa-solid fa-database" style="color: white;"></i>
                                </span>
                                <span class="hide-menu" style="color: white;">Logic Builder</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="{{url_for('logictester')}}" aria-expanded="false">
                                <span>
                                    <i class="fa-regular fa-circle-check" style="color: white;"></i>
                                </span>
                                <span class="hide-menu" style="color: white;">Logic Tester</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="{{url_for('Visualizer')}}" aria-expanded="false">
                                <span>
                                    <i class="fa-solid fa-chart-simple" style="color: white;"></i>
                                </span>
                                <span class="hide-menu" style="color: white;">Data Visualizer</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="{{url_for('userhistory')}}" aria-expanded="false">
                                <span>
                                    <i class="fa-solid fa-clock-rotate-left" style="color: white;"></i>
                                </span>
                                <span class="hide-menu" style="color: white;">History</span>
                            </a>
                        </li>
                        <li class="nav-small-cap">
                            <i class="ti ti-dots nav-small-cap-icon fs-4" style="color: white;"></i>
                            <span class="hide-menu" style="color: white;">Authentications</span>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="{{url_for('register')}}" aria-expanded="false">
                                <span>
                                    <i class="fa-solid fa-repeat" style="color: white;"></i>
                                </span>
                                <span class="hide-menu" style="color: white;">Switch Profile</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="{{url_for('logout')}}" aria-expanded="false">
                                <span>
                                    <i class="fa-solid fa-right-to-bracket" style="color: white;"></i>
                                </span>
                                <span class="hide-menu" style="color: white;">Logout</span>
                            </a>
                        </li>


                    </ul>
                    
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!--  Sidebar End -->
        <!--  Main wrapper -->
        <div class="body-wrapper">
            <!--  Header Start -->
            <header class="app-header" style="border-bottom: 1px solid;">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <ul class="navbar-nav">
                        <li class="nav-item d-block d-xl-none">
                            <a class="nav-link sidebartoggler nav-icon-hover" id="headerCollapse"
                                href="javascript:void(0)">
                                <i class="fa-solid fa-bars"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-icon-hover" href="javascript:void(0)">
                                <i class="fa-solid fa-bell"></i>
                                <div class="notification bg-primary rounded-circle"></div>
                            </a>
                        </li>
                    </ul>
                    <div class="navbar-collapse justify-content-end px-0" id="navbarNav">
                        <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-end">

                            <li class="nav-item dropdown">
                                <a class="nav-link nav-icon-hover" href="javascript:void(0)" id="drop2"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    <img src="https://www.pngitem.com/pimgs/m/78-786293_1240-x-1240-0-avatar-profile-icon-png.png"
                                        alt="" width="35" height="35" class="rounded-circle">
                                </a>
                                <div class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up"
                                    aria-labelledby="drop2">
                                    <div class="message-body">
                                        <a href="javascript:void(0)"
                                            class="d-flex align-items-center gap-2 dropdown-item">
                                            <i class="ti ti-user fs-6"></i>
                                            <p class="mb-0 fs-3">{{username}}</p>
                                        </a>
                                        <a href="javascript:void(0)"
                                            class="d-flex align-items-center gap-2 dropdown-item">
                                            <i class="ti ti-mail fs-6"></i>
                                            <p class="mb-0 fs-3">My Account</p>
                                        </a>

                                        <a href="{{url_for('logout')}}"
                                            class="btn btn-outline-primary mx-3 mt-2 d-block">Logout</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </header>

            <div class="container-fluid">
                <div class="container-fluid">
                    <center>
                        <h1 style="font-size: 5rem; ">Services | Tools</h1>
                    </center><br>

                    <div class=" css-1fjlmyo">
                        
                        <div aria-label="flex-container" class="css-8bmn33">
                            <div class="css-1fvxmpx">
                                <a href="{{url_for('texttoquery')}}" target="_self" data-track="true" class=" css-1amomaf">
                                    
                                    <div aria-label="card-header" class="css-180x1vp">
                                        <img src="icons/general_action_read.svg" alt="general_action_read" class=" css-bf2b28" />
                                    </div>
                                    
                                    <div class="css-cqkn2k">
                                          
                                        <div class="css-urdtjr">
                                            <div class="css-1nf3kue">
                                                <h3 class=" css-2z5up9">No-code rules</h3>
                                            </div>
                                            
                                            <p class=" css-5hsn6b"><span>Rule Builder: No-code, intuitive interface,
                                                    integrates LLM for transforming plain text into actionable queries,
                                                    simplifying technological complexities.</span></p>
                                        </div>
                                      
                                        <div class="css-374oea">
                                            <div class="css-x4n4mc"><span>
                                                   <button tabIndex="0" data-track="true" class=" css-1t8w5h0">
                                                        <span class="css-1kjyyeh">
                                                            <style data-emotion="css 1pghxfk">
                                                                
                                                            </style>
                                                            <div class="css-1pghxfk">
                                                                <span class="textlink-link-icon-class css-17tmg2e">Explore more</span>
                                                                <div data-testid="link-icon-container"
                                                                    class="css-1n51jt3">
                                                                    <style data-emotion="css kv39m8">
                                                                       
                                                                    </style><span data-testid="chevron-container"
                                                                        class="css-kv39m8">
                                                                       <span data-testid="chevron-body"
                                                                            class="css-1qe0he">
                                                                            <span data-testid="chevron-head"
                                                                                class="css-awipqv"></span>
                                                                        </span>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </span>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="css-1fvxmpx">
                                <a href="{{url_for('texttoexcel')}}" target="_self" data-track="true" class=" css-1amomaf">
                                    <div aria-label="card-header" class="css-180x1vp"><img
                                            src="icons/general_content_community.svg"
                                            alt="general_content_community" class=" css-bf2b28" /></div>
                                    <div class="css-cqkn2k">
                                        <div class="css-urdtjr">
                                            <div class="css-1nf3kue">
                                                <h3 class=" css-2z5up9">Excel-Like Logic Support</h3>
                                            </div>
                                            <p class=" css-5hsn6b"><span>Our app eases Business Analysts' transition by
                                                    allowing Excel-like logic, converting arithmetic expressions into
                                                    rules for seamless familiarity. </span></p>
                                        </div>
                                        <div class="css-374oea">
                                            <div class="css-x4n4mc"><span><button tabIndex="0" data-track="true"
                                                        class=" css-1t8w5h0"><span class="css-1kjyyeh">
                                                            <div class="css-1pghxfk"><span
                                                                    class="textlink-link-icon-class css-17tmg2e">Explore
                                                                    more</span>
                                                                <div data-testid="link-icon-container"
                                                                    class="css-1n51jt3"><span
                                                                        data-testid="chevron-container"
                                                                        class="css-kv39m8"><span
                                                                            data-testid="chevron-body"
                                                                            class="css-1qe0he"><span
                                                                                data-testid="chevron-head"
                                                                                class="css-awipqv"></span></span>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </span>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="css-1fvxmpx">
                                <a href="{{url_for('querybuilder')}}" target="_self" data-track="true"
                                    class=" css-1amomaf">
                                    <div aria-label="card-header" class="css-180x1vp"><img
                                            src="icons/realm_sync.svg"
                                            alt="general_content_community" class=" css-bf2b28" /></div>
                                    <div class="css-cqkn2k">
                                        <div class="css-urdtjr">
                                            <div class="css-1nf3kue">
                                                <h3 class=" css-2z5up9">Advance Rule Builder</h3>
                                            </div>
                                            <p class=" css-5hsn6b"><span>DecisionHub enables analysts to swiftly modify
                                                    and test decision strategies, offering a user-friendly interface for
                                                    real-time adjustments, reducing errors amid evolving business
                                                    requirements.</span></p>
                                        </div>
                                        <div class="css-374oea">
                                            <div class="css-x4n4mc"><span><button tabIndex="0" data-track="true"
                                                        class=" css-1t8w5h0"><span class="css-1kjyyeh">
                                                            <div class="css-1pghxfk"><span
                                                                    class="textlink-link-icon-class css-17tmg2e">Explore
                                                                    more
                                                                </span>
                                                                <div data-testid="link-icon-container"
                                                                    class="css-1n51jt3"><span
                                                                        data-testid="chevron-container"
                                                                        class="css-kv39m8"><span
                                                                            data-testid="chevron-body"
                                                                            class="css-1qe0he"><span
                                                                                data-testid="chevron-head"
                                                                                class="css-awipqv"></span></span>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </span>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="css-1fvxmpx">
                                <a href="{{url_for('logictester')}}" target="_self" data-track="true"
                                    class=" css-1amomaf">
                                    <div aria-label="card-header" class="css-180x1vp"><img
                                            src="icons/general_content_learn.svg"
                                            alt="general_content_learn" class=" css-bf2b28" /></div>
                                    <div class="css-cqkn2k">
                                        <div class="css-urdtjr">
                                            <div class="css-1nf3kue">
                                                <h3 class=" css-2z5up9">Logic Validator</h3>
                                            </div>
                                            <p class=" css-5hsn6b"><span>Our app simplifies managing numerous rules with
                                                    a user-friendly interface for swift logic checks, allowing quick
                                                    identification of potential issues.</span></p>
                                        </div>
                                        <div class="css-374oea">
                                            <div class="css-x4n4mc"><span><button tabIndex="0" data-track="true"
                                                        class=" css-1t8w5h0"><span class="css-1kjyyeh">
                                                            <div class="css-1pghxfk"><span
                                                                    class="textlink-link-icon-class css-17tmg2e">
                                                                    Explore more</span>
                                                                <div data-testid="link-icon-container"
                                                                    class="css-1n51jt3"><span
                                                                        data-testid="chevron-container"
                                                                        class="css-kv39m8"><span
                                                                            data-testid="chevron-body"
                                                                            class="css-1qe0he"><span
                                                                                data-testid="chevron-head"
                                                                                class="css-awipqv"></span></span>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </span>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="css-1fvxmpx">
                                <a href="{{url_for('Visualizer')}}" target="_self" data-track="true"
                                    class=" css-1amomaf">
                                    <div aria-label="card-header" class="css-180x1vp"><img
                                            src="icons/atlas_database.svg"
                                            alt="general_content_learn" class=" css-bf2b28" /></div>
                                    <div class="css-cqkn2k">
                                        <div class="css-urdtjr">
                                            <div class="css-1nf3kue">
                                                <h3 class=" css-2z5up9">Data Visualizer</h3>
                                            </div>
                                            <p class=" css-5hsn6b"><span>DecisionHub enables seamless database uploads, intuitive data visualization, and on-the-fly query execution, empowering users to generate insightful plots and trace data with ease.</span></p>
                                        </div>
                                        <div class="css-374oea">
                                            <div class="css-x4n4mc"><span><button tabIndex="0" data-track="true"
                                                        class=" css-1t8w5h0"><span class="css-1kjyyeh">
                                                            <div class="css-1pghxfk"><span
                                                                    class="textlink-link-icon-class css-17tmg2e">Explore
                                                                    more
                                                                </span>
                                                                <div data-testid="link-icon-container"
                                                                    class="css-1n51jt3"><span
                                                                        data-testid="chevron-container"
                                                                        class="css-kv39m8"><span
                                                                            data-testid="chevron-body"
                                                                            class="css-1qe0he"><span
                                                                                data-testid="chevron-head"
                                                                                class="css-awipqv"></span></span>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </span>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="css-1fvxmpx">
                                <a href="{{url_for('userhistory')}}"
                                    target="_self" data-track="true" class=" css-1amomaf">
                                    <div aria-label="card-header" class="css-180x1vp"><img
                                            src="icons/atlas_data_federation.svg"
                                            alt="general_content_learn" class=" css-bf2b28" /></div>
                                    <div class="css-cqkn2k">
                                        <div class="css-urdtjr">
                                            <div class="css-1nf3kue">
                                                <h3 class=" css-2z5up9">User History</h3>
                                            </div>
                                            <p class=" css-5hsn6b"><span>DecisionHub empowers business analysts to securely save and manage relevant details, providing records of user interactions and data modifications.</span></p>
                                        </div>
                                        <div class="css-374oea">
                                            <div class="css-x4n4mc"><span><button tabIndex="0" data-track="true"
                                                        class=" css-1t8w5h0"><span class="css-1kjyyeh">
                                                            <div class="css-1pghxfk"><span
                                                                    class="textlink-link-icon-class css-17tmg2e">Explore
                                                                    more
                                                                </span>
                                                                <div data-testid="link-icon-container"
                                                                    class="css-1n51jt3"><span
                                                                        data-testid="chevron-container"
                                                                        class="css-kv39m8"><span
                                                                            data-testid="chevron-body"
                                                                            class="css-1qe0he"><span
                                                                                data-testid="chevron-head"
                                                                                class="css-awipqv"></span></span>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </span>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   

</body>

</html>