<!doctype html>
<html lang="en-us">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=5">
    <meta charset="utf-8">
    <meta http-equiv="Accept-CH" content="DPR">
    <link rel="preconnect" href="https://cdn.cookielaw.org" />
    <link rel="dns-prefetch" href="https://cdn.cookielaw.org" />
    <title>DecisionHub</title>
    <link rel="icon" href="../static/images/database-solid.svg" type="image/x-icon">
    <link rel="shortcut icon" href="/assets/images/global/favicon.ico">
    <link rel="stylesheet" href="../static/css/cleanstyles/register_clean.css">
    <link rel="preconnect" href="//logx.optimizely.com">
</head>
<body>
    <div class="react-root">
        <div>
            <div>
                <section>
                    <div>
                        <div>
                            <header>
                                <a href="#" target="_blank" class="css-1ou1gss">
                                    <a href="#" target="_blank" class="css-xltjo7">
                                        <img src="../static/images/dhub_alt.png" alt=" logo" /></a>
                            </header>

                            <div class="css-njz9um">
                                <img src="static/images/dhub_alt.png"
                                    style="width: 18rem; height: 3 rem; margin-top: -0.5rem;" alt="DecisionHub logo"
                                    class="css-1po24pn" />
                                </a>
                                <div class="css-17tn9a7">

                                    <ul class="css-1alq3sz">

                                        <li class="css-1dkn0tw">
                                            <span class="css-f99bef"></span>
                                            <span class="css-1ob47mn">Rule Builder and SQL Converter</span>
                                            <span class="css-1ipljq2">Effortlessly create, save, and visualize rules,
                                                intricately linked to the rules database.Intuitive design for a seamless
                                                rule-writing experience, translating decision strategies to SQL</span>
                                        </li>
                                        <li class="css-1dkn0tw"><span class="css-f99bef"></span><span
                                                class="css-1ob47mn">Effortless Rule Management</span><span
                                                class="css-1ipljq2">Centralized control to add, modify and remove rules
                                                within the rules database.Simplifies rule governance, enabling swift
                                                adjustments to align decision strategies with evolving business
                                                requirements.
                                                .</span></li>
                                        <li class="css-1dkn0tw"><span class="css-f99bef"></span><span
                                                class="css-1ob47mn">Real-Time Debugging</span><span
                                                class="css-1ipljq2">Real-time testing functionality, facilitating the
                                                observation of calculations. Pinpoint and rectify errors efficiently,
                                                ensuring the reliability and accuracy of decision rules. </span></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="css-lnrfwp">
                                <div>
                                    <div class="css-1d6bs1n" style="width: 50vw;">
                                        <h4 class=" css-1ikc9d">Register</h4>
                                        <span class=" css-1lca2vn">Explore the power of DecisionHub !</span>
                                        <form id="atlas-form" method="post" action="{{url_for('register')}}"
                                            class=" css-s8bm2o">
                                            <div class="css-8oysku">
                                                <div class="css-10rgs3r">
                                                    <div class="css-2wwfae">
                                                        <div aria-label="input-box" class="css-m9ao1m">
                                                            <div class="css-11oo1fi">
                                                                <input type="text" id="firstName" name="username"
                                                                    class="css-icbtsy" placeholder="First Name*"
                                                                    style="margin-bottom: 50px;"
                                                                    aria-label="First Name*"
                                                                    oninput="hidePlaceholder()" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="css-8oysku">
                                                <div class="css-10rgs3r">
                                                    <div class="css-2wwfae">
                                                        <div aria-label="input-box" class="css-m9ao1m">
                                                            <div class="css-11oo1fi">
                                                                <input type="text" id="lastName" name="lastName"
                                                                    class="css-icbtsy" placeholder="Last Name*"
                                                                    style="margin-bottom: 50px;" aria-label="Last Name"
                                                                    oninput="hidePlaceholder()" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="css-8oysku">
                                                <div class="css-10rgs3r">
                                                    <div class="css-2wwfae">
                                                        <div aria-label="input-box" class="css-m9ao1m">
                                                            <div class="css-11oo1fi">
                                                                <input type="text" id="company" name="company"
                                                                    class="css-icbtsy" placeholder="Company"
                                                                    style="margin-bottom: 50px;" aria-label="Company"
                                                                    oninput="hidePlaceholder()" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="css-8oysku">
                                                <div class="css-10rgs3r">
                                                    <div class="css-2wwfae">
                                                        <div aria-label="input-box" class="css-m9ao1m">
                                                            <div class="css-11oo1fi">
                                                                <input type="text" id="email" name="email"
                                                                    class="css-icbtsy" placeholder="Email*"
                                                                    style="margin-bottom: 50px;" aria-label="Email"
                                                                    oninput="hidePlaceholder()" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="css-8oysku">
                                                <div class="css-10rgs3r">
                                                    <div class="css-2wwfae">
                                                        <div aria-label="input-box" class="css-m9ao1m">
                                                            <div class="css-11oo1fi">
                                                                <input type="text" id="password" name="password"
                                                                    class="css-icbtsy" placeholder="Password"
                                                                    style="margin-bottom: 50px;" aria-label="Password"
                                                                    oninput="hidePlaceholder()" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="css-8oysku">
                                                <div class class>
                                                    <input type="checkbox" id="terms" name="terms" class="css-43wgwk" />

                                                    <label aria-label="terms" for="terms" class="css-1bzyp4q">
                                                        <span aria-label="checkbox" class="css-iljbaq">
                                                            <span class="css-10co30m">
                                                                <span class="css-1pic5ad"></span></span></span>
                                                        <span class="css-iiyv20"><span>I agree to the <a
                                                                    href="{{url_for('termsandservice')}}"
                                                                    target="_blank" rel="noreferrer"
                                                                    style="text-decoration: none; color: #001E2B; font-weight: bold;">Terms
                                                                    of Service</a> </span></span>
                                                        <span class=" css-rw7gwv"></span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="css-x4n4mc">

                                                <div class="css-1myrko">
                                                    <button type="submit" tabIndex="0" class=" css-p08qec"
                                                        style="display: block; margin: 0 auto; text-align: center;">Create
                                                        your Account</button>
                                                </div>
                                                <span class=" css-ldhe1">
                                                    <a href="{{url_for('login')}}" class="css-bbvbqc">Sign
                                                        in</a>
                                                </span>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <footer class="css-path20">
                                <span class=" css-1as0ge5">© 2024 DecisionHub.</span>
                                <a tabIndex="0" href="https://linktr.ee/decisionHub" target="_blank" data-track="true"
                                    class="css-x59kef">
                                    <span class="css-z24ew8">
                                        <span>Contact</span>
                                    </span>
                                </a>
                                <a tabIndex="0" href="{{url_for('termsandservice')}}" target="_blank"
                                    data-track="true"><span><span>Terms
                                            &amp;
                                            Conditions</span></span>
                                </a>
                            </footer>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</body>
</html>